<section class="mt-2" style="background-color: #eee; border-radius: 20px;">

    <div class="container ">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Calculate Maturity Amount</p>
        <div class="d-flex justify-content-center " style="height: 100%;">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
    
                <div class="p-4 border border-info" style="width: 400px; border-radius: 20px;">
                    <form  #registerForm="ngForm" >
                        <div class="mb-2">
                            <label for="policyType" class="form-label" >Policy Name </label>
                            <select class="form-select"name="pt"   [(ngModel)]="id" (change)="changeHandle()">
                                        <option value="">select category</option>
                                        <option  *ngFor="let p of policyList" value={{p.PolicyId}} >{{p.PolicyName}}</option>
                            </select>
    
                            </div>

                        <div class="mb-2">
                        <label for="sDate" class="form-label">Start Date</label>
                        <input #sDate="ngModel" type="Date" [(ngModel)]="startDate"class="form-control" name="sDate" >
                        </div>
                        <div class="mb-2">
                        <label for="duration" class="form-label">Duration</label>
                        <input #duration="ngModel" type="number" [(ngModel)]="durationInYr"class="form-control" name="duration" >
                        </div>

                        <div class="mb-2">
                        <label for="initialDepo" class="form-label">Initial Deposite</label>
                        <input #initialDepo="ngModel" type="number" [(ngModel)]="intitalDepo"class="form-control" name="initialDepo" >
                        </div>
                        <div class="mb-2">
                        <label for="tPerYr" class="form-label">Terms Per Year</label>
                        <input #tPerYr="ngModel" type="number" [(ngModel)]="termsPerYr"class="form-control" name="tPerYr" >
                        </div>
                        <div class="mb-2">
                        <label for="tAmount" class="form-label">Term Amount</label>
                        <input #tAmount="ngModel" type="number" [(ngModel)]="termAmount"class="form-control" name="tAmount" >
                        </div>


                        <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary"  (click)="calcMaturityAmount()">Calculate Maturity</button>
                        </div>      
                    </form>
                </div>
                <div class="card pt-2 mt-2" style="border-radius: 20px;">
                    <div class="card-body">

                        <Strong> Maturity:</Strong><span class="ms-2">{{maturityAmount|currency:"INR"}} </span><br>
                    <Strong>End Date:</Strong><span class="ms-2">{{endDate|date:"longDate"}}</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section>